<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Stream</title>
</head>
<body>

    <h1>Video en tiempo real</h1>
    <img id="video" width="640" height="480"/>
    <script>
        const ws = new WebSocket("ws://" + window.location.host + "/viewer");
        const videoEl = document.getElementById("video");

        ws.onmessage = function(event) {
            const b64data = event.data;
            videoEl.src = "data:image/jpeg;base64," + b64data;
        }

        ws.onopen = function() {
            console.log("Conectado al servidor");
        }
        ws.onclose = function() {
            console.log("Conexión cerrada");
        }
    </script>
</body>
</html>
